.CommentForm__wrapper {
  /* box-shadow: 0px 0px 5px rgba(0,0,0, 0.5); */
  padding: 10px 0px;
  margin-bottom: 30px;
}

/* .CommentForm {
  
} */

.CommentForm label {
  display: block;
}

.form-group {
  margin-bottom: 10px;
}

.form-input__error {
  border: 1px solid red;
  outline: red;
}